main {
    max-width: 840px; /* Limit the width of the main content */
  }
  
  aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* Subtle, transparent border */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
  }
  
  aside img {
    width: 200px;
    height: auto; /* Maintain aspect ratio */
  }
  
  main img {
    width: 150px; /* Changed to be more exclusive */
    height: auto;
  }
  
  p {
    padding: 0; /* Set padding to 0 */
  }
  
  footer {
    margin-top: 15px; /* Add top margin */
    border-top: 1px solid #000; /* Add top border */
    text-align: center; /* Center text */
  }
  